.navegation{
    position: fixed;
    top: 0;
    width: 100%;
}
.main{
    background-color: rgb(116, 65, 65);
}
#inicio{
    /* background-image: url(../anexos/fundo_tela01.png); */
    /* background-image: url(../anexos/thumbnail1.png9D8057FB-B09D-46F9-A1F0-02701733331EDefault.jpg) ; */
    background-color: #0e041b;
    height: 718px;
    margin-top: 56px;
}
#inicio h1{
    color: white;
    font-size: 45px;
    text-align: center;
    padding-top: 240px;
}

.logo-game{
    width: 200%;
}

#about{
    background-image: url(../anexos/fundo_tela01.png);
    /* background-image: url(../anexos/thumbnail1.png9D8057FB-B09D-46F9-A1F0-02701733331EDefault.jpg) ; */
    background-color: black;
    height: 718px;
    padding-top: 100px;
}

.storyGm{
    color: white;
    text-align: justify;
    width: 270px;
    padding-top: 180px;
}

.inicialFt{
    align-items: center;
    padding-top: 93px;
    border-radius: 30%;
}


#dev{
    background-image: url(../anexos/fundo_tela01.png);
    /* background-image: url(../anexos/thumbnail1.png9D8057FB-B09D-46F9-A1F0-02701733331EDefault.jpg) ; */
    background-color: black;
    height: 850px;
    padding-top: 100px;
}

.resumoGm{
    color: white;
    text-align: justify;
    font-size: 30px;
    margin-top: 130px;
    /* width: 270px; */
}

.desenvolvedores{
    width: 80%;
}

.names{
    color: #6c32c6;
    font-size: 14px;
}
.function{
    color: #6633ac;
}

.areaContato{
    text-align: right;

    padding-top: 60px;
}

.contato{
    margin-top: -15px;
}

.end-line{
    text-align: right;
}
footer{
    width: 100%;
    color: beige;
    background-color:rgb(111, 95, 182);
    display: table;
}

.patrocinio, .contato, .line{
    float: left;
}
.contato{
    margin-left: 100px;
    margin-top: 30px;
}
.contato > h6{
    text-align: center;
}
.patrocinio{
    padding: 10px 30px;
    width: 750px;
    margin-left: 20px;
}
.line{
    background-color: whitesmoke;
    width: 5px;
    height: 110px;
    margin-top: 30px;
}

/*ScrollBarConf*/
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: blueviolet;
    border-radius: 0px;
}
::-webkit-scrollbar-thumb{
    background: darkslateblue;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: purple; 
  }
